
/* Define default spinner */
.ui-icon-loading {
	background: url("../libs/jquerymobile/1.4.5/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* open_panel */
#startScreen_open_panel {

}
.ui-btn.startScreen_open_panel {

}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* google_map */
.startScreen_google_map {
	width: 320px; height: 200px;
	margin: 4px 0px 4px 0px;
}
/* marker_24 */
.startScreen_marker_24 {
	text-shadow:none;
	color:black;
	font-family:Arial;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}
/* nav_menu */
.startScreen_nav_menu .ui-panel-inner {
	padding: 5px 0px 15px 0px;
}
.startScreen_nav_menu:focus {
	outline: 0;
}
/* mobilelist_3 */
.ui-page .startScreen_mobilelist_3 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_4 */
/* mobilelistitembutton_5 */
.startScreen_mobilelistitembutton_5 {

}
/* mobilelistitem_6 */
/* mobilelistitembutton_7 */
.startScreen_mobilelistitembutton_7 {

}
/* mobilelistitem_8 */
/* mobilelistitembutton_9 */
.startScreen_mobilelistitembutton_9 {

}
/* mobilelistitem_10 */
/* mobilelistitembutton_11 */
.startScreen_mobilelistitembutton_11 {

}
/* mobilelistitem_12 */
/* mobilelistitembutton_13 */
.startScreen_mobilelistitembutton_13 {

}
/* mobilelistitem_14 */
/* mobilelistitembutton_15 */
.startScreen_mobilelistitembutton_15 {

}
/* mobilelistitem_16 */
/* mobilelistitembutton_17 */
.startScreen_mobilelistitembutton_17 {

}
/* mobilelistitem_18 */
/* mobilelistitembutton_19 */
.startScreen_mobilelistitembutton_19 {

}
/* mobilelistitem_20 */
/* mobilelistitembutton_21 */
.startScreen_mobilelistitembutton_21 {

}